<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Security-Policy' 
			content="default-src 'self';
							 connect-src 'self' https://api.twitch.tv/;
							 font-src 'self' https://fonts.gstatic.com/ https://fonts.googleapis.com/;
							 script-src 'self';
							 style-src 'self' https://fonts.gstatic.com/ https://fonts.googleapis.com/;"/>
		<meta charset="UTF-8">
		<title>Loading...</title>
		<link rel="stylesheet" href="splash.css">
	</head>
	<body>
		<div><img src="./resources/bot.png"/></div>
	</body>
</html>